S3method(as.data.frame,rlearnxr_build)
S3method(as.data.frame,rlearnxr_evidence)
S3method(as.data.frame,rlearnxr_lesson)
S3method(as.data.frame,rlearnxr_receipt)
S3method(as_rlearnxr_evidence,data.frame)
S3method(as_rlearnxr_evidence,default)
S3method(as_rlearnxr_evidence,glm)
S3method(as_rlearnxr_evidence,kmeans)
S3method(as_rlearnxr_evidence,lm)
S3method(as_rlearnxr_evidence,prcomp)
S3method(plot,rlearnxr_evidence)
S3method(print,rlearnxr_build)
S3method(print,rlearnxr_evidence)
S3method(print,rlearnxr_lesson)
S3method(print,rlearnxr_receipt)
S3method(summary,rlearnxr_build)
S3method(summary,rlearnxr_evidence)
S3method(summary,rlearnxr_lesson)
S3method(summary,rlearnxr_receipt)
export(as_rlearnxr_evidence)
export(check_lesson)
export(compile_lesson)
export(default_course_catalog)
export(export_lesson_bundle)
export(import_datasandbox_bundle)
export(lesson_spec)
export(read_learning_receipt)
export(read_lesson_manifest)
export(read_rlearnxr_evidence)
export(representation_spec)
export(render_scene)
export(render_course_catalog)
export(run_rlearnxr_shiny)
export(scaffold_lesson)
export(task_spec)
export(validate_scene_data)
export(validate_course_catalog)
export(validate_lesson_manifest)
export(validate_learning_receipt)
export(validate_lesson_spec)
export(validate_rlearnxr_evidence)
export(write_learning_receipt)
export(write_lesson_manifest)
export(write_rlearnxr_evidence)
